<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{application}">Application</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:text="#{applicationToAtFormat(${app.allianceTag},${#dates.format(app.at, 'yyyy-MM-dd HH:mm:ss')})}">
        Application to NetWars at 2006-06-06 03:00:00
      </th>
    </tr>
    <tr>
      <td>
        <p th:each="paragraph : ${#strings.arraySplit(app.applicationText, T(org.apache.commons.lang3.StringUtils).LF)}"
           th:text="${paragraph}"></p>
      </td>
    </tr>
    <tr>
      <td>
        <form th:action="@{/alliance/cancel-application}" method="post">
          <input name="body" type="hidden" th:value="${bodyId}">
          <button th:text="#{cancel}">Cancel</button>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
