<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{leaveAlliance}">Leave alliance</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/alliance/leave}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <input name="alliance" type="hidden" th:value="${allianceId}">
    <table>
      <tr>
        <th th:text="#{leaveAlliance}">Leave alliance</th>
      </tr>
      <tr>
        <td>
          <button th:text="#{leave}">Leave</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
