<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{applications}">Applications</title>
</head>
<body>
<div layout:fragment="content">
  <table th:if="${#lists.isEmpty(list.applications)}">
    <tr>
      <td th:text="#{noApplications}">No applications</td>
    </tr>
  </table>
  <!-- TODO generic class for messages and applications -->
  <table class="message" th:each="entry : ${list.applications}">
    <tr>
      <th th:text="#{applicationFromAtFormat(${entry.userName},${#dates.format(entry.at, 'yyyy-MM-dd HH:mm:ss')})}">
        Application from Gaius at 2006-06-06 03:00:00
      </th>
    </tr>
    <tr>
      <td>
        <p th:each="paragraph : ${#strings.arraySplit(entry.applicationText, T(org.apache.commons.lang3.StringUtils).LF)}"
           th:text="${paragraph}"></p>
      </td>
    </tr>
    <tr th:if="${list.processable}">
      <td>
        <form th:action="@{/alliance/applications/accept}" method="post">
          <input name="body" type="hidden" th:value="${bodyId}">
          <input name="application" type="hidden" th:value="${entry.id}">
          <button th:text="#{accept}">Accept</button>
        </form>
        <form th:action="@{/alliance/applications/reject}" method="post">
          <input name="body" type="hidden" th:value="${bodyId}">
          <input name="application" type="hidden" th:value="${entry.id}">
          <button th:text="#{reject}">Reject</button>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
