<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title th:text="#{espionageReport}">Espionage Report</title>
  <link
      th:href="@{/static/skins/{skin}/style.css?{v}(skin=${@environment.getProperty('retro-game.default-skin')},v=${version})}"
      rel="stylesheet">
</head>
<body>
<div class="container">
  <div>
    <div>
      <div>
        <table>
          <tr>
            <th colspan="2" th:text="#{espionageReport}">Espionage Report</th>
          </tr>
          <tr>
            <td th:text="#{at}">At</td>
            <td th:text="${#dates.format(report.at, 'yyyy-MM-dd HH:mm:ss')}"></td>
          </tr>
          <tr>
            <td th:text="#{user}">User</td>
            <td th:text="${report.enemyName}"></td>
          </tr>
          <tr>
            <td th:text="#{coordinates}">Coordinates</td>
            <td th:text="${report.coordinates}"></td>
          </tr>
          <tr>
            <td th:text="#{diameter}">Diameter</td>
            <td th:text="${#numbers.formatInteger(report.diameter, 1, 'DEFAULT')}"></td>
          </tr>
          <tr>
            <td th:text="#{activity}">Activity</td>
            <td th:title="${report.activity == 0 ? '(0, 15 min)' : (report.activity < 60 ? '[' + report.activity + ' min, ' + (report.activity + 1) + ' min)' : '[60 min, ∞)')}"
                th:text="${report.activity == 0 ? '<15' : (report.activity < 60 ? report.activity : '>=60')}"></td>
          </tr>
          <tr>
            <td th:text="#{counterChance}">Counter Chance</td>
            <td th:text="#{counterChanceFormat(${#numbers.formatDecimal(100.0 * report.counterChance, 1, 'DEFAULT', 2, 'DEFAULT')})}"></td>
          </tr>
          <tr>
            <td th:text="#{simulation}">Simulation</td>
            <td>
              <a th:href="@{${websimLink}}">Websim</a>
            </td>
          </tr>
          <tr>
            <th colspan="2" th:text="#{resources}">Resources</th>
          </tr>
          <tr>
            <td th:text="#{metal}">Metal</td>
            <td th:text="${#numbers.formatInteger(report.resources.metal, 1, 'DEFAULT')}"></td>
          </tr>
          <tr>
            <td th:text="#{crystal}">Crystal</td>
            <td th:text="${#numbers.formatInteger(report.resources.crystal, 1, 'DEFAULT')}"></td>
          </tr>
          <tr>
            <td th:text="#{deuterium}">Deuterium</td>
            <td th:text="${#numbers.formatInteger(report.resources.deuterium, 1, 'DEFAULT')}"></td>
          </tr>
          <th:block th:replace="mobile/espionage-report-items :: items(#{fleet}, ${report.fleet})"></th:block>
          <th:block th:replace="mobile/espionage-report-items :: items(#{defense}, ${report.defense})"></th:block>
          <th:block th:replace="mobile/espionage-report-items :: items(#{buildings}, ${report.buildings})"></th:block>
          <th:block th:replace="mobile/espionage-report-items :: items(#{technologies}, ${report.technologies})"></th:block>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>