<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{sendCircularMessage}">Send circular message</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/messages/alliance/send}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <input name="alliance" type="hidden" th:value="${allianceId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{sendCircularMessage}">Send circular message</th>
      </tr>
      <tr>
        <td>
          <label for="message" th:text="#{message}"></label>
        </td>
        <td>
          <textarea id="message" name="message" rows="10" maxlength="4095" required></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button th:text="#{send}"></button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
