<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{phalanx}">Phalanx</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th id="phalanx-reload">
        <form>
          <input name="body" type="hidden" th:value="${bodyId}">
          <input name="galaxy" type="hidden" th:value="${galaxy}">
          <input name="system" type="hidden" th:value="${system}">
          <input name="position" type="hidden" th:value="${position}">
          <button th:title="#{keyboardShortcutSpace}" th:text="#{reload}">Reload</button>
        </form>
      </th>
      <th>
        <span th:text="#{time}">Time</span>:
        <span th:text="${#dates.format(time, 'yyyy-MM-dd HH:mm:ss')}">2006-06-06 03:00:00</span>
      </th>
    </tr>
    <tr th:if="${#lists.isEmpty(events)}">
      <td colspan="2" th:text="#{noEvents}"></td>
    </tr>
    <tr th:each="event : ${events}">
      <td th:data-timer="${event.at.time / 1000}" th:text="${#dates.format(event.at, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:insert="mobile/flight-event :: flight-event(${bodyId}, ${event}, false)"></td>
    </tr>
  </table>
  <script th:src="@{/static/js/phalanx.js?{v}(v=${version})}"></script>
</div>
</body>
</html>
