<!DOCTYPE html>
<html lang="en" layout:decorate="~{mobile/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{rapidFireTable}">Rapid Fire Table</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:colspan="${#maps.size(table) + 1}" th:text="#{rapidFireTable}">Rapid Fire Table</th>
    </tr>
    <tr>
      <td>-</td>
      <td th:each="kind : ${table.keySet()}">
        <a th:href="@{/details/unit(body=${bodyId},kind=${kind})}" th:title="#{${'items.' + kind + '.name'}}"
           th:text="#{${'items.' + kind + '.abbreviation'}}"></a>
      </td>
    </tr>
    <tr th:each="kind : ${table.keySet()}">
      <td>
        <a th:href="@{/details/unit(body=${bodyId},kind=${kind})}" th:title="#{${'items.' + kind + '.name'}}"
           th:text="#{${'items.' + kind + '.abbreviation'}}"></a>
      </td>
      <td th:each="n : ${table.get(kind).values()}"
          th:text="${n == 0 ? '-' : #numbers.formatInteger(n, 1, 'DEFAULT')}"></td>
    </tr>
  </table>
</div>
</body>
</html>