<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title th:text="#{changePassword} + ' - Retro Game'">Change password - Retro Game</title>
  <link
      th:href="@{/static/skins/{skin}/style.css?{v}(skin=${@environment.getProperty('retro-game.default-skin')},v=${version})}"
      rel="stylesheet">
</head>
<body>
<div class="container">
  <div>
    <div>
      <form th:action="@{/change-password(token=${param.token})}" method="post" th:object="${resetPasswordForm}"
            autocomplete="on">
        <table>
          <tr>
            <th th:colspan="${#fields.hasErrors('*') ? 3 : 2}" th:text="#{changePassword}">Change password
            </th>
          </tr>
          <tr>
            <td>
              <label for="password" th:text="#{newPassword}">New password</label>
            </td>
            <td>
              <input id="password" type="password" minlength="8" maxlength="256" required
                     th:field="*{password}">
            </td>
            <td th:if="${#fields.hasErrors('*')}">
              <span th:errors="*{password}"></span>
            </td>
          </tr>
          <tr>
            <td th:colspan="${#fields.hasErrors('*') ? 3 : 2}">
              <button th:text="#{changePassword}">Change password</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>
