<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
</head>
<body>
<td th:fragment="entry-user(name, userPoints, otherPoints)">
  <span th:class="${userPoints > otherPoints ? 'strong' : 'noob'}" data-tooltip data-tooltip-html
        th:data-tooltip-title="'<p>' + #{points} + ': <strong>' + ${#numbers.formatInteger(userPoints, 1, 'DEFAULT')} + '</strong></p>'"
        th:text="${name}"></span>
</td>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:text="#{pushDetection}"></th>
    </tr>
    <tr th:if="${#lists.isEmpty(pushes)}">
      <td th:text="#{noReports}"></td>
    </tr>
  </table>
  <th:block th:each="push : ${pushes}">
    <table th:with="firstReport=${push.get(0).reportAndPoints.report},
                    userName=${userInfos.get(firstReport.userId).name},
                    partnerName=${userInfos.get(firstReport.partnerId).name}">
      <tr>
        <th colspan="8"
            th:text="${#dates.format(firstReport.at, 'yyyy-MM-dd HH:mm:ss') + ': ' + userName + ', ' + partnerName}"></th>
      </tr>
      <th th:text="#{at}">At</th>
      <th th:text="#{start}">Start</th>
      <th th:text="#{target}">Target</th>
      <th th:text="#{start}">Start</th>
      <th th:text="#{target}">Target</th>
      <th th:text="#{resources}">Resources</th>
      <th th:text="${userName}"></th>
      <th th:text="${partnerName}"></th>
      <tr th:each="entry : ${push}" th:with="report=${entry.reportAndPoints.report}">
        <td th:text="${#dates.format(report.at, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <th:block th:if="${report.kind == T(com.github.retro_game.retro_game.dto.TransportKindDto).OUTGOING}">
          <td th:replace=":: entry-user(${userName}, ${entry.reportAndPoints.userPoints}, ${entry.reportAndPoints.partnerPoints})"></td>
          <td th:replace=":: entry-user(${partnerName}, ${entry.reportAndPoints.partnerPoints}, ${entry.reportAndPoints.userPoints})"></td>
        </th:block>
        <th:block th:unless="${report.kind == T(com.github.retro_game.retro_game.dto.TransportKindDto).OUTGOING}">
          <td th:replace=":: entry-user(${partnerName}, ${entry.reportAndPoints.partnerPoints}, ${entry.reportAndPoints.userPoints})"></td>
          <td th:replace=":: entry-user(${userName}, ${entry.reportAndPoints.userPoints}, ${entry.reportAndPoints.partnerPoints})"></td>
        </th:block>
        <td th:text="${report.startCoordinates}"></td>
        <td th:text="${report.targetCoordinates}"></td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="
                  '<p>' + #{metal} + ': <strong>' + ${#numbers.formatInteger(report.resources.metal, 1, 'DEFAULT')} + '</strong></p>' +
                  '<p>' + #{crystal} + ': <strong>' + ${#numbers.formatInteger(report.resources.crystal, 1, 'DEFAULT')} + '</strong></p>' +
                  '<p>' + #{deuterium} + ': <strong>' + ${#numbers.formatInteger(report.resources.deuterium, 1, 'DEFAULT')} + '</strong></p>'"
                th:text="${@formatterService.prefixedNumber(report.resources.metal + report.resources.crystal + report.resources.deuterium)}"></span>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="${#numbers.formatInteger(entry.userReceived, 1, 'DEFAULT')}"
                th:text="${@formatterService.prefixedNumber(entry.userReceived)}"></span>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="${#numbers.formatInteger(entry.partnerReceived, 1, 'DEFAULT')}"
                th:text="${@formatterService.prefixedNumber(entry.partnerReceived)}"></span>
        </td>
      </tr>
    </table>
  </th:block>
</div>
</body>
</html>
