<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{alliance}">Alliance</title>
</head>
<body>
<div layout:fragment="content">
  <nav id="homeNav">
		<ul>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul>
			<li><a href="http://100.21.156.246:8080/join">Logout</a></li>
		</ul>
	</nav>
  <table>
    <tr>
      <th colspan="2" th:text="#{alliance}">Alliance</th>
    </tr>
    <tr th:if="${alliance.logo != null}">
      <td colspan="2">
        <img th:src="${alliance.logo}" alt="Logo">
      </td>
    </tr>
    <tr>
      <th colspan="2" th:text="#{info}">Info</th>
    </tr>
    <tr>
      <td th:text="#{tag}">Tag</td>
      <td th:text="${alliance.tag}"></td>
    </tr>
    <tr>
      <td th:text="#{name}">Name</td>
      <td th:text="${alliance.name}"></td>
    </tr>
    <tr>
      <td th:text="#{owner}">Owner</td>
      <td th:if="${alliance.ownerName == null}">-</td>
      <td th:unless="${alliance.ownerName == null}">
        <span th:replace="user-tooltip :: user-tooltip(${bodyId}, ${alliance.ownerId}, ${alliance.ownerName})"></span>
      </td>
    </tr>
    <tr>
      <td th:text="#{recruitment}">Recruitment</td>
      <td th:if="${alliance.recruitmentOpen}">
        <span th:text="#{recruitmentOpen}">open</span>
        <th:block th:if="${alliance.applyLinkVisible}">
          (<a th:href="@{/alliance/apply(body=${bodyId},alliance=${alliance.id})}" th:text="#{apply}">apply</a>)
        </th:block>
      </td>
      <td th:unless="${alliance.recruitmentOpen}" th:text="#{recruitmentClosed}">closed</td>
    </tr>
    <tr th:if="${alliance.applicationsLinkVisible && alliance.numApplications > 0}">
      <td th:text="#{applications}">Applications</td>
      <td>
        <span th:text="${#numbers.formatInteger(alliance.numApplications, 1, 'DEFAULT')}">42</span>
        (<a th:href="@{/alliance/applications(body=${bodyId},alliance=${alliance.id})}" th:text="#{show_}">show</a>)
      </td>
    </tr>
    <tr>
      <td th:text="#{members}">Members</td>
      <td>
        <span th:text="${#numbers.formatInteger(alliance.numMembers, 1, 'DEFAULT')}">42</span>
        <th:block th:if="${alliance.memberListLinkVisible}">
          (<a th:href="@{/alliance/members(body=${bodyId},alliance=${alliance.id})}" th:text="#{show_}">show</a>)
        </th:block>
      </td>
    </tr>
    <tr th:if="${alliance.circularMessageLinkVisible}">
      <td th:text="#{circularMessage}">Circular message</td>
      <td>
        <a th:href="@{/messages/alliance/send(body=${bodyId},alliance=${alliance.id})}" th:text="#{send_}">send</a>
      </td>
    </tr>
    <tr th:if="${alliance.manageLinkVisible}">
      <td th:text="#{manage}">Manage</td>
      <td>
        <a th:href="@{/alliance/manage(body=${bodyId},alliance=${alliance.id})}" th:text="#{manage_}">manage</a>
      </td>
    </tr>
    <tr>
      <th colspan="2" th:text="#{'allianceText.EXTERNAL'}">External text</th>
    </tr>
    <tr>
      <td colspan="2">
        <p th:each="paragraph : ${#strings.arraySplit(alliance.externalText, T(org.apache.commons.lang3.StringUtils).LF)}"
           th:text="${paragraph}"></p>
      </td>
    </tr>
    <th:block th:if="${alliance.internalTextVisible}">
      <tr>
        <th colspan="2" th:text="#{'allianceText.INTERNAL'}">Internal text</th>
      </tr>
      <tr>
        <td colspan="2">
          <p th:each="paragraph : ${#strings.arraySplit(alliance.internalText, T(org.apache.commons.lang3.StringUtils).LF)}"
             th:text="${paragraph}"></p>
        </td>
      </tr>
    </th:block>
    <th:block th:if="${alliance.leaveLinkVisible}">
      <tr>
        <th colspan="2" th:text="#{leaveAlliance}">Leave alliance</th>
      </tr>
      <tr>
        <td colspan="2">
          <a th:href="@{/alliance/leave(body=${bodyId},alliance=${alliance.id})}" th:text="#{leave}">Leave</a>
        </td>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>
