<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{changeBodysImage}">Change body's image</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/body-settings/change-image}" method="post" th:with="body=${ctx.curBody}">
    <input name="body" type="hidden" th:value="${bodyId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{changeBodysImage}">Change body's image</th>
      </tr>
      <th:block th:if="${body.coordinates.planet}">
        <tr th:each="i : ${#numbers.sequence(1, 10)}">
          <td>
            <label th:for="'image' + ${i}">
              <img
                  th:src="@{/static/skins/{skin}/bodies/{type}_{image}.jpg(skin=${skin},type=${body.type},image=${i})}"
                  width="88" height="88">
            </label>
          </td>
          <td>
            <input th:id="'image' + ${i}" name="image" type="radio" th:value="${i}" th:checked="${i == body.image}"
                   required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button th:text="#{change}">Change</button>
          </td>
        </tr>
      </th:block>
      <tr th:unless="${body.coordinates.planet}">
        <td colspan="2">For now you can only change image of a planet.</td>
      <tr>
    </table>
  </form>
</div>
</body>
</html>
