<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{bodySettings}">Body settings</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:text="#{bodySettings}">Body settings</th>
    </tr>
    <tr>
      <td>
        <a th:href="@{/body-settings/rename(body=${bodyId})}" th:text="#{rename}">Rename</a>
      </td>
    </tr>
    <tr>
      <td>
        <a th:href="@{/body-settings/change-image(body=${bodyId})}" th:text="#{changeImage}">Change image</a>
      </td>
    </tr>
    <tr>
      <td>
        <a th:href="@{/body-settings/abandon(body=${bodyId})}" th:text="#{abandon}">Abandon</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
