<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{changelog}">Rules</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:text="#{changelog}">Rules</th>
    </tr>
    <tr>
      <td>
        <pre>
        The following rules are established to ensure fair and engaging play for ally members of the universe. All reporting
        for breaking the rules will be handled via the ticket system inside discord which can be reached via this addres: https://discord.gg/qwKYfgFw2C
        Any breach of the rules may result in any response or duration in ban as seen fit by the staff to be determined on a case by case basis. Bans are public.

        The owner and creator of the universe holds final decision power for all inqueries and responses to those breaking the below rules.
        The rules below differ from those in similar games and the punishments for breaking the rules may also very on a case by case basis. If
        you have any questions regarding the rules, please feel fee to ask in the discord channel.

        1.  Accounts are expected to be played by a single individual. As such staff can and will use any means at their disposal to identify when an account
            is being played by more than one person. Activity or evidence of multiple people playing a single account will result in bans. An account may be 
            gifted or shared any number of times and for any reason. The game staff are NOT responsible for the security of your account. Please use strong,
            secure passwords and do not share them. If there is an account issue it will be handled via ticket. Account sitting is not a feature of this game.
            If it is detected it will be handled like a multi-user account and be banned. If you want your account safe while you are away, use Vacation mode. 
            
            **IMPORTANT** email will be used in certain cases to verify your account ownership. DO NOT use fake emails or any email address to which you do not
            have access. If you are unable to access the email associated with your account, there is no guarantee that a staff member will be able to assist you
            with any tickets or issues.
            
            NOTE: To avoid bans during account trades, please open a ticket to notify game staff prior to the trade. It is recomended that players use staff as 
            a go-between for account trades to reduce risk of theft, but not required. For any situations where any form of exception or special case may exist,
            open a ticket. This is strongly recomended if multiple people in the same household or small area play the game together. 
        2.  Players may have more than one account ONLY after submitting a ticket via discord. Upon approval, players may create ONE additional Account
            within the universe. ANY multi-accounts without an APPROVED ticket PRIOR to creation, will be banned ruthlessly. Any abuse or attempted abuse of
            this allowance will be banned. 
        3.  Exploitation or use of a bug for any reason is against the rules. Using any script or program to manipulate the game in any way will result in a ban. 
        4.  All players are expected to treat eachother with a reasonable amount of respect. Any form of hate speech, abusive communication, threat, attempt or
            intent to cause harm will not be tolerated. Insults are against the rules and will be dealt with at the discretion of the staff.
        5.  Spam of any kind is not permitted. Any activity which does not have an inherently obvious and reasonable purpose may be considered spam at the discretion
            of staff. Simply saving fuel is not inherently enough to not be considered spam. (I'm looking at you 10% deathstar attack missions)
        6.  The official trading standard is 3:2:1, however the trading or transfer of resources may be done in any amount and for any reason regardless of points
            or direction. Additionally, the profit from any attack may be distributed any way players deem fit. Staff will NOT interviene in cases of deciet or greed.
        
        NOTE: All issues, ban discussions, and support will take place via discord. Certain exceptions to these rules may be made at the discretion of staff. When possible
        these exception cases will be shared with the community, although staff may deem that some or all details be kept confidential to preserve fair and equitable play.
        
        While staff are expected to opperate on a basis of proof, not all investigative details will be shared with players in the course of a ban. This is intended to preserve
        the fair state of the game and minimize abuse of the above rules. 

        Please be aware of some key differences in this game compared to others:
        a.) Despite being similar to other games, mechanics, settings, and configurations in this game can and will be different. Please make no assumptions. 
        b.) Staff will have access far and beyond that of similar games. We have access to every layer of the game and can detect and review MUCH more information than in other games,
            additionally this game is supported by an entirely different staff toolset. You've been warned. We reserve the right to collect, store, process, and review any and all information
            transmitted to or made available to us as part of your participation in this game. Aditionally, by creating an account and playing this game, you consent to the collectio and use
            of this information for any and all purposes by game staff. 


        </pre>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
