<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title th:text="#{combatReport} + ' - Retro Game'">Combat Report - Retro Game</title>
  <link
      th:href="@{/static/skins/{skin}/style.css?{v}(skin=${@environment.getProperty('retro-game.default-skin')},v=${version})}"
      rel="stylesheet">
  <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/static/js/popper-1.14.4.min.js}"></script>
  <script th:src="@{/static/js/tooltip-1.3.0.min.js}"></script>
  <script th:src="@{/static/js/retrogame.js?{v}(v=${version})}"></script>
</head>
<body>
<div class="container">
  <div>
    <div>
      <p th:text="#{onDateFollowingFleetsMetInBattleFormat(${#dates.format(report.at, 'yyyy-MM-dd HH:mm:ss')})}">
        On 2006-06-06 03:00:00 the following fleets met in battle:
      </p>
      <div th:replace="combat-report-combatants :: combatants(${report.attackers}, #{attacker})"></div>
      <div th:replace="combat-report-combatants :: combatants(${report.defenders}, #{defender})"></div>
      <th:block th:each="round,iter : ${report.rounds}">
        <p th:text="#{roundFormat(${iter.index + 1})}">
          Round 3:
        </p>
        <table th:replace="combat-report-round-combatants :: round-combatants(${round.attackers}, #{attacker})"></table>
        <table th:replace="combat-report-round-combatants :: round-combatants(${round.defenders}, #{defender})"></table>
      </th:block>
      <hr>
      <p th:switch="${report.result}">
        <th:block th:case="${T(com.github.retro_game.retro_game.service.dto.BattleResultDto).ATTACKERS_WIN}"
                  th:utext="#{combatReportAttackersWinFormat(
                    ${'<strong>' + #numbers.formatInteger(report.plunder.metal, 1, 'DEFAULT') + '</strong>'},
                    ${'<strong>' + #numbers.formatInteger(report.plunder.crystal, 1, 'DEFAULT') + '</strong>'},
                    ${'<strong>' + #numbers.formatInteger(report.plunder.deuterium, 1, 'DEFAULT') + '</strong>'})}">
          The attackers won the battle and captured
          <strong>666</strong> metal,
          <strong>666</strong> crystal and
          <strong>0</strong> deuterium.
        </th:block>
        <th:block th:case="${T(com.github.retro_game.retro_game.service.dto.BattleResultDto).DEFENDERS_WIN}"
                  th:text="#{combatReportDefendersWin}">
          The defenders won the battle.
        </th:block>
        <th:block th:case="${T(com.github.retro_game.retro_game.service.dto.BattleResultDto).DRAW}"
                  th:text="#{combatReportDraw}">
          The battle ended in a draw.
        </th:block>
      </p>
      <p th:utext="#{combatReportAttackersLossFormat(${'<strong>' + #numbers.formatInteger(report.attackersLoss, 1, 'DEFAULT') + '</strong>'})}">
        The attackers have lost a total of <strong>666</strong> units.
      </p>
      <p th:utext="#{combatReportDefendersLossFormat(${'<strong>' + #numbers.formatInteger(report.defendersLoss, 1, 'DEFAULT') + '</strong>'})}">
        The defenders have lost a total of <strong>1,337</strong> units.
      </p>
      <p th:utext="#{combatReportDebrisFormat(
          ${'<strong>' + #numbers.formatInteger(report.debrisMetal, 1, 'DEFAULT')} + '</strong>',
          ${'<strong>' + #numbers.formatInteger(report.debrisCrystal, 1, 'DEFAULT')} + '</strong>')}">
        At these space coordinates now float <strong>666</strong> metal and <strong>42</strong> crystal.
      </p>
      <p th:utext="#{combatReportMoonChanceFormat(${'<strong>' + #numbers.formatDecimal(report.moonChance * 100.0, 1, 'DEFAULT', 2, 'DEFAULT') + '</strong>'})}">
        The chance for a moon to be created is <strong>6.66</strong>%.
      </p>
      <p th:if="${report.moonGiven}" th:text="#{combatReportMoonGiven}">
        A moon was created!
      </p>
      <span th:utext="${'<!-- seed=' + report.seed + ' -->'}" th:remove="tag"></span>
      <span th:utext="${'<!-- executionTime=' + report.executionTime + 'ns -->'}" th:remove="tag"></span>
    </div>
  </div>
</div>
</body>
</html>
