<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title th:text="#{signIn} + ' - M-Warfare: Classic'">Sign in - M-Warfare: Classic</title>
  <link
      th:href="@{/static/skins/{skin}/style.css?{v}(skin=${@environment.getProperty('retro-game.default-skin')},v=${version})}"
      rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <nav id="homeNav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="https://github.com/dglassow/mwarfare-web/wiki">Wiki</a></li>
		</ul>
		<ul>
			<li><a href="http://game.mwarfare.com/join"> Sign Up</a></li>
		</ul>
	</nav>
  <h1 class="page-title ">M - W A R F A R E</h1>
  <h2 class="page-title ">Season 3</h2>
<div class="container">
  <div>
    <div id="login-menu">
      <table th:if="${param.error}">
        <tr>
          <th th:text="#{error}">Error</th>
        </tr>
        <tr>
          <td th:text="#{wrongEmailOrPassword}">Wrong email or password!</td>
        </tr>
      </table>
      <table th:if="${param.joined}">
        <tr>
          <th th:text="#{joined}">Joined</th>
        </tr>
        <tr>
          <td th:text="#{successfulRegistration}">Your registration was successful, you can sign in now!</td>
        </tr>
      </table>
      <table th:if="${param.passwordResetSent}">
        <tr>
          <th th:text="#{passwordResetSent}">Password reset email sent</th>
        </tr>
        <tr>
          <td th:text="#{successfulPasswordResetSent}">Your password reset request was sent, check your email!</td>
        </tr>
      </table>
      <table th:if="${param.passwordWasChanged}">
        <tr>
          <th th:text="#{passwordWasChanged}">Your password was changed</th>
        </tr>
        <tr>
          <td th:text="#{successfulPasswordWasChanged}">Your password was changed, login using new password!</td>
        </tr>
      </table>
      <form th:action="@{/}" method="post" autocomplete="on">
        <table>
          <tr>
            <th colspan="2" th:text="#{signIn}">Sign in</th>
          </tr>
          <tr>
            <td>
              <label for="email" th:text="#{email}">Email</label>
            </td>
            <td>
              <input id="email" name="email" type="email" autofocus required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password" th:text="#{password}">Password</label>
            </td>
            <td>
              <input id="password" name="password" type="password" required>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button th:text="#{signIn}">Sign in</button>
            </td>
          </tr>
        </table>
      </form>
      <!--
      <p>
        <span th:text="#{orJoin}">or join</span>
        <a th:href="@{/join}"><strong th:text="#{here}">here</strong></a>
      </p>
      -->
      <p th:if="${enablePasswordRecovery}">
        <span th:text="#{forgotPassword}">Forgot password?</span>
        <a th:href="@{/reset-password}"><strong th:text="#{forgotPasswordLink}">Reset here</strong></a>.
      </p>
    </div>
  </div>
</div>
</body>
</html>
