<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="#{info}">Info</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th th:text="#{info}">Info</th>
    </tr>
    <tr>
      <td>
        <h3>Activity</h3>
        <h4>Galaxy</h4>
        <p>An (*) or ([min]) after planet's name in the galaxy view indicates the latest activity of the planet and the
          associated moon. That is, if the planet's activity is (30) and the associated moon's is (20), then (20) will
          be shown in the galaxy view.</p>
        <h4>General</h4>
        <ol>
          <li>An (*) appears on the homeworld when you login.</li>
          <li>An (*) appears on the current planet/moon with every click everywhere in the game.</li>
          <li>An (*) appears only on the new location when you switch to another planet/moon.</li>
        </ol>
        <h4>3:00</h4>
        <p>The server doesn't force you to log out at 3:00 server time, but an (*) appears on the homeworld with your
          first click after 3:00. Players with no activity on homeworld at this time are offline.</p>
        <h4>Flights - General</h4>
        <ol>
          <li>An (*) appears on the starting planet/moon when the fleet returns.</li>
          <li>An (*) appears on the starting (current) planet/moon when you send a fleet.</li>
          <li>An (*) appears only on the current planet/moon when you recall a fleet, the current planet/moon doesn't
            necessarily need to be the same as the starting planet/moon of that fleet.
          </li>
        </ol>
        <h4>Flights - Attack, Deployment, Destroy, Espionage and Missile attack missions</h4>
        <p>An (*) appears on the target planet/moon at the arrival.</p>
        <h4>Flights - Colonization mission</h4>
        <p>An (*) appears on the target planet/moon at the arrival if the colonization was successful. Otherwise, no
          activity is created anywhere.</p>
        <h4>Flights - Harvest mission</h4>
        <p>No activity is created anywhere at the arrival.</p>
        <h4>Flights - Hold mission</h4>
        <p>An (*) DOESN'T appear on the target planet/moon at the arrival.</p>
        <h4>Flights - Transport mission</h4>
        <p>An (*) appears on the starting as well as on the target planet/moon at the arrival.</p>

        <hr>

        <h3>ACS</h3>
        <h4>How?</h4>
        <ol>
          <li>Click on 'party' in flights page.</li>
          <li>Invite players.</li>
          <li>Now the players have an option to select the party when sending fleet.</li>
        </ol>

        <hr>

        <h3>Colonization</h3>
        <p>Number of fields ~ N(μ,σ2)</p>
        <p>μ = 200 - 10|8 - position|</p>
        <p>σ = 60 - 5|8 - position|</p>
        <p>e.g. position 8 is the best for getting big planets</p>
        <p>
          Astrophysics influences only the number of planets you can have, positions in solar systems don't matter. Go
          to the following page, to see the level table:
          <a href="https://ogame.wikia.com/wiki/Astrophysics#Level_Table">https://ogame.wikia.com/wiki/Astrophysics#Level_Table</a>
        </p>

        <hr>

        <h3>Debris fields</h3>
        <p>30% of fleet and 0% of defense goes to debris</p>
        <p>100k debris = 1%</p>
        <p>20% max chance of creating a moon</p>
        <p>e.g. 20% chance = 1667 LFs</p>
        <p>A DF is deleted when it hasn't been "touched" for at least 3 days and there is no fleet flying to that
          DF.</p>

        <hr>

        <h3>Galaxy</h3>
        <p>The distance between systems 500 and 1 is the same as between 1 and 2.</p>
        <p>The same is true for galaxies.</p>

        <hr>

        <h3>Missile attack</h3>
        <p>Anti-ballistic missiles from a planet are used to defend the associated moon.</p>
        <p>Interplanetary missiles hit defense units in random order.</p>
        <p>RakSim: <a href="https://ogame-tools.pl/en,1,RakSim.html">https://ogame-tools.pl/en,1,RakSim.html</a></p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>