<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="cost(cost, energy, resources)">
  <span th:text="#{metal}">Metal</span>:
  <strong th:class="${resources.metal < cost.metal ? 'requirement-not-met' : 'requirement-met'}"
          th:text="${#numbers.formatInteger(cost.metal, 1, 'DEFAULT')}">200</strong>
  <span th:text="#{crystal}">Crystal</span>:
  <strong th:class="${resources.crystal < cost.crystal ? 'requirement-not-met' : 'requirement-met'}"
          th:text="${#numbers.formatInteger(cost.crystal, 1, 'DEFAULT')}">50</strong>
  <span th:text="#{deuterium}">Deuterium</span>:
  <strong th:class="${resources.deuterium < cost.deuterium ? 'requirement-not-met' : 'requirement-met'}"
          th:text="${#numbers.formatInteger(cost.deuterium, 1, 'DEFAULT')}">0</strong>
  <th:block th:if="${energy > 0}">
    <span th:text="#{energy}">Energy</span>:
    <strong th:text="${#numbers.formatInteger(energy, 1, 'DEFAULT')}">200</strong>
  </th:block>
</th:block>
<th:block
    th:fragment="item-cost(bodyCtx, cost, energy, resources, missingResources, neededSmallCargoes, neededLargeCargoes)">
  <p th:unless="${missingResources.total > 0}">
    <th:block th:replace=":: cost(${cost}, ${energy}, ${resources})"></th:block>
  </p>
  <p th:if="${missingResources.total > 0}">
    <span data-tooltip data-tooltip-html
          th:with="
            c=${bodyCtx.coordinates},
            missMetal=${#numbers.formatInteger(missingResources.metal, 1)},
            missCrystal=${#numbers.formatInteger(missingResources.crystal, 1)},
            missDeuterium=${#numbers.formatInteger(missingResources.deuterium, 1)},
            scLink=@{/flights/send(body=${bodyCtx.id},galaxy=${c.galaxy},system=${c.system},position=${c.position},kind=${c.kind},mission='TRANSPORT',metal=${missMetal},crystal=${missCrystal},deuterium=${missDeuterium},units[SMALL_CARGO]=${neededSmallCargoes})},
            lcLink=@{/flights/send(body=${bodyCtx.id},galaxy=${c.galaxy},system=${c.system},position=${c.position},kind=${c.kind},mission='TRANSPORT',metal=${missMetal},crystal=${missCrystal},deuterium=${missDeuterium},units[LARGE_CARGO]=${neededLargeCargoes})}"
          th:data-tooltip-title="
            '<table>' +
              '<tr>' +
                '<th colspan=2>' + #{missingResources} + '</th>' +
              '</tr>' +
              '<tr>' +
                '<td>' + #{metal} + '</td>' +
                '<td>' + ${#numbers.formatInteger(missingResources.metal, 1, 'DEFAULT')} + '</td>' +
              '</tr>' +
              '<tr>' +
                '<td>' + #{crystal} + '</td>' +
                '<td>' + ${#numbers.formatInteger(missingResources.crystal, 1, 'DEFAULT')} + '</td>' +
              '</tr>' +
              '<tr>' +
                '<td>' + #{deuterium} + '</td>' +
                '<td>' + ${#numbers.formatInteger(missingResources.deuterium, 1, 'DEFAULT')} + '</td>' +
              '</tr>' +
              '<tr>' +
                '<th colspan=2>' + #{neededCargoes} + '</th>' +
              '</tr>' +
              '<tr>' +
                '<td>' + #{items.SMALL_CARGO.name} + '</td>' +
                '<td>' +
                  '<a href=\''+ ${scLink} + '\'>' + ${#numbers.formatInteger(neededSmallCargoes, 1, 'DEFAULT')} + '</a>' +
                '</td>' +
              '</tr>' +
              '<tr>' +
                '<td>' + #{items.LARGE_CARGO.name} + '</td>' +
                '<td>' +
                  '<a href=\''+ ${lcLink} + '\'>' + ${#numbers.formatInteger(neededLargeCargoes, 1, 'DEFAULT')} + '</a>' +
                '</td>' +
              '</tr>' +
            '</table>'">
      <th:block th:replace=":: cost(${cost}, ${energy}, ${resources})"></th:block>
    </span>
  </p>
</th:block>
</body>
</html>
