<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title th:text="#{join} + ' - MW-Classic'">Join - Retro Game</title>
  <link
      th:href="@{/static/skins/{skin}/style.css?{v}(skin=${@environment.getProperty('retro-game.default-skin')},v=${version})}"
      rel="stylesheet">
  <th:block th:if="${enableJoinCaptcha}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </th:block>
</head>
<body>
  <nav id="homeNav">
		<ul>
			<li><a href="http://game.mwarfare.com">Home</a></li>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="https://github.com/dglassow/mwarfare-web/wiki">Wiki</a></li>
		</ul>
		<ul>
			<li><a href="http://game.mwarfare.com"> Sign in</a></li>
		</ul>
	</nav>
  <h1 class="page-title ">M - W A R F A R E</h1>
<div class="container">
  <div>
    <div>
      <form th:action="@{/join}" method="post" th:object="${joinForm}" autocomplete="on">
        <table>
          <tr>
            <th th:colspan="${#fields.hasErrors('*') ? 3 : 2}" th:text="#{join}">Join</th>
          </tr>
          <tr>
            <td>
              <label for="email" th:text="#{email}">Email</label>
            </td>
            <td>
              <input id="email" type="email" minlength="3" maxlength="128" autofocus required th:field="*{email}">
            </td>
            <td th:if="${hasErrors}">
              <span th:errors="*{email}"></span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="name" th:text="#{nickname}">Nickname</label>
            </td>
            <td>
              <input id="name" minlength="3" maxlength="16" pattern="^[A-Za-z0-9]+( ?[A-Za-z0-9])*$" required
                     th:field="*{name}">
            </td>
            <td th:if="${hasErrors}">
              <span th:errors="*{name}"></span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password" th:text="#{password}">Password</label>
            </td>
            <td>
              <input id="password" type="password" minlength="8" maxlength="256" required th:field="*{password}">
            </td>
            <td th:if="${hasErrors}">
              <span th:errors="*{password}"></span>
            </td>
          </tr>
          <tr th:if="${enableJoinCaptcha}">
            <td>Captcha</td>
            <td>
              <div class="center-block g-recaptcha" th:data-sitekey="${googleRecaptchaKeySite}" data-theme="dark"></div>
            </td>
            <td th:if="${hasErrors}">
              <span th:if="${!captchaOk}">bad captcha</span>
            </td>
          </tr>
          <tr>
            <td th:colspan="${hasErrors ? 3 : 2}">
              <button th:text="#{join}">Join</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>
