<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{messages}">Messages</title>
</head>
<body>
<div layout:fragment="content">
  <nav id="homeNav">
		<ul>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul>
			<li><a href="http://100.21.156.246:8080/join">Logout</a></li>
		</ul>
	</nav>
  <table th:replace="messages-tabs :: messages-tabs"></table>
  <table>
    <tr>
      <th th:text="#{allianceMessages}">Alliance messages</th>
    </tr>
    <tr th:if="${#lists.isEmpty(messages)}">
      <td th:text="#{noMessages}">No messages</td>
    </tr>
    <th:block th:each="message : ${messages}">
      <tr>
        <th th:text="#{messageFromAtFormat(${message.senderName != null ? message.senderName : '[deleted]'},${#dates.format(message.at, 'yyyy-MM-dd HH:mm:ss')})}">
          Message from Gaius at 2006-06-06 03:00:00
        </th>
      </tr>
      <tr>
        <td>
          <p th:each="paragraph : ${#strings.arraySplit(message.message, T(org.apache.commons.lang3.StringUtils).LF)}"
             th:text="${paragraph}"></p>
        </td>
      </tr>
    </th:block>
  </table>
  <div th:replace="messages-pagination :: messages-pagination('alliance')"></div>
</div>
</body>
</html>
