<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{ranking}">Ranking</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th colspan="5">
        <span th:text="#{ranking}">Ranking</span>
        (<span th:text="${#dates.format(ranking.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>)
      </th>
    </tr>
    <tr>
      <td>
        <a th:href="@{/ranking(body=${bodyId},kind='OVERALL')}" th:text="#{overall}">Overall</a>
      </td>
      <td>
        <a th:href="@{/ranking(body=${bodyId},kind='BUILDINGS')}" th:text="#{buildings}">Buildings</a>
      </td>
      <td>
        <a th:href="@{/ranking(body=${bodyId},kind='TECHNOLOGIES')}" th:text="#{technologies}">Technologies</a>
      </td>
      <td>
        <a th:href="@{/ranking(body=${bodyId},kind='FLEET')}" th:text="#{fleet}">Fleet</a>
      </td>
      <td>
        <a th:href="@{/ranking(body=${bodyId},kind='DEFENSE')}" th:text="#{defense}">Defense</a>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th th:text="#{rank}">Rank</th>
      <th th:text="#{name}">Name</th>
      <th th:text="#{points}">Points</th>
    </tr>
    <tr th:each="e : ${ranking.entries}">
      <td th:text="${e.rank}"></td>
      <td>
        <span data-tooltip data-tooltip-html th:data-tooltip-title="
                '<table>' +
                  '<tr>' +
                    '<th>' + ${e.userName} + '</th>' +
                  '</tr>' +
                  '<tr>' +
                    '<td>' +
                      '<p><a href=\'' + @{/messages/private/send(body=${bodyId},recipient=${e.userId})} + '\'>' + #{sendMessage} + '</a></p>' +
                      '<p><a href=\'' + @{/statistics/summary(body=${bodyId},user=${e.userId})} + '\'>' + #{statistics} + '</a></p>' +
                    '</td>' +
                  '</tr>' +
                '</table>'"
              th:text="${e.userName}"></span>
      </td>
      <td th:text="${#numbers.formatInteger(e.points, 1, 'DEFAULT')}"></td>
    </tr>
  </table>
</div>
</body>
</html>
