<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{shareEmpire}">Share empire</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/records/share}" method="post">
    <input name="body" type="hidden" th:value="${bodyId}">
    <table>
      <tr>
        <th colspan="2" th:text="#{shareEmpire}">Share empire</th>
      </tr>
      <tr>
        <td>
          <label for="buildings" th:text="#{buildings}">Buildings</label>
        </td>
        <td>
          <input id="buildings" name="buildings" type="checkbox">
        </td>
      </tr>
      <tr>
        <td>
          <label for="technologies" th:text="#{technologies}">Technologies</label>
        </td>
        <td>
          <input id="technologies" name="technologies" type="checkbox">
        </td>
      </tr>
      <tr>
        <td>
          <label for="units" th:text="#{units}">Units</label>
        </td>
        <td>
          <input id="units" name="units" type="checkbox">
        </td>
      </tr>
      <tr>
        <td>
          <label for="production" th:text="#{production}">Production</label>
        </td>
        <td>
          <input id="production" name="production" type="checkbox">
        </td>
      </tr>
      <tr>
        <td>
          <label for="other" th:text="#{other}">Other</label>
        </td>
        <td>
          <input id="other" name="other" type="checkbox">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button th:text="#{shareEmpire}">Share empire</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
