<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{harvestReports}">Harvest Reports</title>
</head>
<body>
<div layout:fragment="content">
  <nav id="homeNav">
		<ul>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul>
			<li><a href="http://100.21.156.246:8080/join">Logout</a></li>
		</ul>
	</nav>
  <table th:replace="reports-tabs :: reports-tabs">
  </table>
  <table th:if="${#lists.isEmpty(reports)}">
    <tr>
      <td th:text="#{noReports}">No reports</td>
    </tr>
  </table>
  <table th:unless="${#lists.isEmpty(reports)}">
    <tr>
      <th colspan="6" th:text="#{harvestReports}">Harvest reports</th>
      <th>
        <form th:replace="reports-delete-all-form :: reports-delete-all-form('harvest')"></form>
      </th>
    </tr>
    <tr>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='AT',direction=${order == 'AT' && direction == 'DESC' ? 'ASC' : 'DESC'},size=${size})}"
           th:text="#{at}">At</a>
      </th>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='COORDINATES',direction=${order == 'COORDINATES' && direction == 'ASC' ? 'DESC' : 'ASC'},size=${size})}"
           th:text="#{coords}">Coords</a>
      </th>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='NUM_RECYCLERS',direction=${order == 'NUM_RECYCLERS' && direction == 'DESC' ? 'ASC' : 'DESC'},size=${size})}"
           th:text="#{numRecyclers}">Num recyclers</a>
      </th>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='CAPACITY',direction=${order == 'CAPACITY' && direction == 'DESC' ? 'ASC' : 'DESC'},size=${size})}"
           th:text="#{capacity}">Capacity</a>
      </th>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='HARVESTED_RESOURCES',direction=${order == 'HARVESTED_RESOURCES' && direction == 'DESC' ? 'ASC' : 'DESC'},size=${size})}"
           th:text="#{harvested}">Harvested</a>
      </th>
      <th>
        <a th:href="@{/reports/harvest(body=${bodyId},order='REMAINING_RESOURCES',direction=${order == 'REMAINING_RESOURCES' && direction == 'DESC' ? 'ASC' : 'DESC'},size=${size})}"
           th:text="#{remaining}">Remaining</a>
      </th>
      <th th:text="#{actions}">Actions</th>
    </tr>
    <th:block th:each="report : ${reports}">
      <tr th:with="c=${report.coordinates}">
        <td th:text="${#dates.format(report.at, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
          <a th:href="@{/galaxy(body=${bodyId},galaxy=${c.galaxy},system=${c.system},position=${c.position},kind=${c.kind})}"
             th:title="#{goToGalaxy}" th:text="${c}"></a>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="'<strong>' + ${#numbers.formatInteger(report.numRecyclers, 1, 'DEFAULT')} + '</strong>'"
                th:text="${@formatterService.prefixedNumber(report.numRecyclers)}"></span>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="'<strong>' + ${#numbers.formatInteger(report.capacity, 1, 'DEFAULT')} + '</strong>'"
                th:text="${@formatterService.prefixedNumber(report.capacity)}"></span>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="
                  '<p>' + #{metal} + ': <strong>' + ${#numbers.formatInteger(report.harvestedMetal, 1, 'DEFAULT')} + '</strong></p>' +
                  '<p>' + #{crystal} + ': <strong>' + ${#numbers.formatInteger(report.harvestedCrystal, 1, 'DEFAULT')} + '</strong></p>'"
                th:text="${@formatterService.prefixedNumber(report.harvestedMetal + report.harvestedCrystal)}"></span>
        </td>
        <td>
          <span data-tooltip data-tooltip-html
                th:data-tooltip-title="
                  '<p>' + #{metal} + ': <strong>' + ${#numbers.formatInteger(report.remainingMetal, 1, 'DEFAULT')} + '</strong></p>' +
                  '<p>' + #{crystal} + ': <strong>' + ${#numbers.formatInteger(report.remainingCrystal, 1, 'DEFAULT')} + '</strong></p>'"
                th:text="${@formatterService.prefixedNumber(report.remainingMetal + report.remainingCrystal)}"></span>
        </td>
        <td class="report-actions">
          <button data-delete-report th:data-body="${bodyId}" data-kind="harvest" th:data-id="${report.id}"
                  th:title="#{delete}">
            D
          </button>
        </td>
      </tr>
    </th:block>
  </table>
  <div th:replace="reports-pagination :: reports-pagination('harvest')"></div>
  <script th:src="@{/static/js/reports.js?{v}(v=${version})}"></script>
</div>
</body>
</html>
