<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title>Reports - Retro Game</title>
  <link th:href="@{/static/css/style.css?{v}(v=${version})}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div>
    <div>
      <div th:fragment="reports-pagination(kind)" id="reports-pagination">
        <table>
          <tr>
            <td>
              <form th:action="@{/reports/{kind}(kind=${kind})}">
                <input name="body" type="hidden" th:value="${bodyId}">
                <input name="order" type="hidden" th:value="${order}">
                <input name="direction" type="hidden" th:value="${direction}">
                <input name="page" type="hidden" th:value="${page - 1}">
                <input name="size" type="hidden" th:value="${size}">
                <button th:disabled="${page - 1 < 1}">←</button>
              </form>
            </td>
            <td th:text="${page}"></td>
            <td>
              <form th:action="@{/reports/{kind}(kind=${kind})}">
                <input name="body" type="hidden" th:value="${bodyId}">
                <input name="order" type="hidden" th:value="${order}">
                <input name="direction" type="hidden" th:value="${direction}">
                <input name="page" type="hidden" th:value="${page + 1}">
                <input name="size" type="hidden" th:value="${size}">
                <button>→</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
