<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{vacationMode}">Vacation mode</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <tr>
      <th colspan="2" th:text="#{vacationMode}">Vacation mode</th>
    </tr>
    <tr th:unless="${onVacation}">
      <td colspan="2">
        <p th:unless="${canEnable}" th:text="#{vacationModeCannotBeEnabled}"></p>
        <form th:action="@{/settings/vacation-mode/enable}" method="post">
          <input name="body" type="hidden" th:value="${bodyId}">
          <button th:text="#{enable}" th:disabled="${!canEnable}">Enable</button>
        </form>
      </td>
    </tr>
    <th:block th:if="${onVacation}">
      <tr>
        <td th:text="#{vacationAtLeastUntil}">Vacation mode at least until</td>
        <td th:text="${#dates.format(vacationUntil, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
      <tr>
        <td colspan="2">
          <form th:action="@{/settings/vacation-mode/disable}" method="post">
            <input name="body" type="hidden" th:value="${bodyId}">
            <button th:text="#{disable}" th:disabled="${!canDisable}">Disable</button>
          </form>
        </td>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>
