<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{shipyard}">Shipyard</title>
</head>
<body>
<div layout:fragment="content">
  <table th:if="${error}">
    <tr>
      <th th:text="#{error}">Error</th>
    </tr>
    <tr>
      <td class="error" th:text="${#messages.msg('shipyardQueueError.' + error)}"></td>
    </tr>
  </table>
  <table th:unless="${#lists.isEmpty(pair.queue)}">
    <tr>
      <th>#</th>
      <th th:text="#{unit}">Unit</th>
      <th th:text="#{count}">Count</th>
      <th th:text="#{finishAt}">Finish at</th>
    </tr>
    <tr th:each="entry,iter : ${pair.queue}">
      <td th:text="${iter.index} + 1"></td>
      <td>
        <a th:href="@{/details/unit(body=${bodyId},kind=${entry.kind})}"
           th:text="#{${'items.' + entry.kind + '.name'}}"></a>
      </td>
      <td data-tooltip data-tooltip-html
          th:data-tooltip-title="
            '<p>' + #{metal} + ': <strong>' + ${#numbers.formatInteger(entry.cost.metal, 1, 'DEFAULT')} + '</strong></p>' +
            '<p>' + #{crystal} + ': <strong>' + ${#numbers.formatInteger(entry.cost.crystal, 1, 'DEFAULT')} + '</strong></p>' +
            '<p>' + #{deuterium} + ': <strong>' + ${#numbers.formatInteger(entry.cost.deuterium, 1, 'DEFAULT')} + '</strong></p>'"
          th:text="${#numbers.formatInteger(entry.count, 1, 'DEFAULT')}"></td>
      <td th:data-timer="${entry.finishAt.time / 1000}"
          th:text="${#dates.format(entry.finishAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
  </table>
  <table th:with="onVacation=${ctx.onVacation},r=${ctx.curBody.resources}">
    <tr>
      <th colspan="3" th:text="#{shipyard}">Shipyard</th>
    </tr>
    <tr th:each="unit : ${pair.units}" class="item">
      <td class="item-image">
        <a th:href="@{/details/unit(body=${bodyId},kind=${unit.kind})}">
          <img th:src="@{/static/skins/{skin}/items/{kind}.gif(skin=${skin},kind=${unit.kind})}">
        </a>
      </td>
      <td class="item-info">
        <h2>
          <a th:href="@{/details/unit(body=${bodyId},kind=${unit.kind})}"
             th:text="#{${'items.' + unit.kind + '.name'}}"></a>
          <th:block th:if="${unit.futureCount > 0}">
            (<span
              th:text="${#numbers.formatInteger(unit.currentCount, 1, 'DEFAULT') + (unit.currentCount != unit.futureCount ? ' → ' + #numbers.formatInteger(unit.futureCount, 1, 'DEFAULT') : '')}">1</span>)
          </th:block>
        </h2>
        <p th:text="#{${'items.' + unit.kind + '.description'}}"></p>
        <p th:if="${unit.kind == T(com.github.retro_game.retro_game.dto.UnitKindDto).INTERPLANETARY_MISSILE && unit.currentCount > 0}">
          <a th:href="@{/flights/send-missiles(body=${bodyId})}">
            <strong th:text="#{sendMissiles}">Send missiles</strong>
          </a>
        </p>
        <p th:with="cost=${unit.cost}">
          <span th:text="#{metal}">Metal</span>:
          <strong th:class="${r.metal < cost.metal ? 'requirement-not-met' : 'requirement-met'}"
                  th:text="${#numbers.formatInteger(cost.metal, 1, 'DEFAULT')}">200</strong>
          <span th:text="#{crystal}">Crystal</span>:
          <strong th:class="${r.crystal < cost.crystal ? 'requirement-not-met' : 'requirement-met'}"
                  th:text="${#numbers.formatInteger(cost.crystal, 1, 'DEFAULT')}">50</strong>
          <span th:text="#{deuterium}">Deuterium</span>:
          <strong th:class="${r.deuterium < cost.deuterium ? 'requirement-not-met' : 'requirement-met'}"
                  th:text="${#numbers.formatInteger(cost.deuterium, 1, 'DEFAULT')}">0</strong>
        </p>
        <p>
          <span th:text="#{buildingTime}">Building time</span>:
          <strong th:text="${@formatterService.formatTime(unit.buildingTime)}">01:02:03</strong>
        </p>
      </td>
      <td class="item-actions">
        <form th:if="${unit.maxBuildable >= 1}" th:action="@{/shipyard/build}" method="post">
          <input name="body" type="hidden" th:value="${bodyId}">
          <input th:if="${type != null}" name="type" type="hidden" th:value="${type}">
          <input name="kind" type="hidden" th:value="${unit.kind}">
          <input th:id="'count_' + ${unit.kind}" name="count" type="number" value="0" min="1"
                 th:max="${unit.maxBuildable}" required>
          <button th:disabled="${onVacation}" th:text="#{build}">Build</button>
        </form>
        <button th:if="${unit.maxBuildable >= 1}" data-set th:data-set-for="'count_' + ${unit.kind}"
                th:data-set-value="${unit.maxBuildable}"
                th:text="#{maxFormat(${#numbers.formatInteger(unit.maxBuildable, 1, 'DEFAULT')})}">
          Max (666)
        </button>
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(pair.units)}">
      <td th:text="#{youHaveToConstructShipyardFirst}">You have to construct a Shipyard first!</td>
    </tr>
  </table>
</div>
</body>
</html>
