<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:with="version='@project.version@'">
  <meta charset="UTF-8">
  <title>Statistics - Retro Game</title>
  <link th:href="@{/static/css/style.css?{v}(v=${version})}" rel="stylesheet">
</head>
<body>
<div class="container">
  <nav id="homeNav">
		<ul>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul>
			<li><a href="http://100.21.156.246:8080/join">Logout</a></li>
		</ul>
	</nav>
  <div>
    <div>
      <table th:fragment="statistics-period(url)">
        <tr>
          <th colspan="3" th:text="#{period}">period</th>
        </tr>
        <tr>
          <td>
            <a th:href="@{/statistics/{url}(url=${url},body=${bodyId},user=${userId},kind=${kind},period='LAST_WEEK')}"
               th:text="#{lastWeek}">Last week</a>
          </td>
          <td>
            <a th:href="@{/statistics/{url}(url=${url},body=${bodyId},user=${userId},kind=${kind},period='LAST_MONTH')}"
               th:text="#{lastMonth}">Last month</a>
          </td>
          <td>
            <a th:href="@{/statistics/{url}(url=${url},body=${bodyId},user=${userId},kind=${kind},period='ALL_TIME')}"
               th:text="#{allTime}">All time</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>
