<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{statistics}">Statistics</title>
</head>
<body>
<div layout:fragment="content">
  <nav id="homeNav">
		<ul>
			<li><a href="https://discord.gg/glassow">Discord</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul>
			<li><a href="http://100.21.156.246:8080/join">Logout</a></li>
		</ul>
	</nav>
  <table th:replace="statistics-tabs :: statistics-tabs">
  </table>
  <table th:replace="statistics-period :: statistics-period('distinct-changes')">
  </table>
  <table th:data-statistics-kind="${kind}" th:data-changes="${changes}">
    <tr>
      <th th:text="#{points}">Points</th>
    </tr>
    <tr>
      <td>
        <canvas id="points-changes"></canvas>
      </td>
    </tr>
    <tr>
      <th th:text="#{rank}">Rank</th>
    </tr>
    <tr>
      <td>
        <canvas id="rank-changes"></canvas>
      </td>
    </tr>
  </table>
  <script th:src="@{/static/js/Chart.bundle-2.9.4.min.js}"></script>
  <script th:src="@{/static/js/statistics-distinct-changes.js?{v}(v=${version})}"></script>
</div>
</body>
</html>
