<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{technologyTree}">Technology Tree</title>
</head>
<body>
<th:block th:fragment="tree(name, details, elements)">
  <tr>
    <th colspan="2" th:text="${name}"></th>
  </tr>
  <tr th:each="entry : ${elements}">
    <td>
      <a th:href="@{/details/{details}(details=${details},body=${bodyId},kind=${entry.key})}"
         th:text="#{${'items.' + entry.key + '.name'}}"></a>
    </td>
    <td>
      <ul th:with="buildings=${ctx.curBody.buildings},requirements=${entry.value.buildings}">
        <li th:each="requirement : ${requirements}">
          <span th:with="level=${buildings.getOrDefault(requirement.key, 0)}"
                th:class="${level < requirement.value ? 'requirement-not-met' : 'requirement-met'}">
            <span th:text="#{${'items.' + requirement.key + '.name'}}"></span>
            (<span th:text="${level + '/' + requirement.value}"></span>)
          </span>
        </li>
      </ul>
      <ul th:with="technologies=${ctx.technologies},requirements=${entry.value.technologies}">
        <li th:each="requirement : ${requirements}">
          <span th:with="level=${technologies.getOrDefault(requirement.key, 0)}"
                th:class="${level < requirement.value ? 'requirement-not-met' : 'requirement-met'}">
            <span th:text="#{${'items.' + requirement.key + '.name'}}"></span>
            (<span th:text="${level + '/' + requirement.value}"></span>)
          </span>
        </li>
      </ul>
    </td>
  </tr>
</th:block>
<div layout:fragment="content">
  <table>
    <tr>
      <th colspan="2" th:text="#{technologyTree}">Technology Tree</th>
    </tr>
    <th:block th:replace=":: tree(#{buildings}, 'building', ${tree.buildings})"></th:block>
    <th:block th:replace=":: tree(#{technologies}, 'technology', ${tree.technologies})"></th:block>
    <th:block th:replace=":: tree(#{fleet}, 'unit', ${tree.fleet})"></th:block>
    <th:block th:replace=":: tree(#{defense}, 'unit', ${tree.defense})"></th:block>
  </table>
</div>
</body>
</html>
